body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color:black;
    text-align: center;
}
.about {
    color: black;
    text-align: center;
    background-color: lightslategray;
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
}
.skills {
    color:black;
    text-align: center;
}
.projects {
    color:black;
    text-align: center;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}
.contact {
    color: black;
    text-align: center;
}
.block-indent {
  text-indent: 40px;
}
.section-title {
    font-size: large;
    font-weight: bold;
}