body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color:black;
    text-align: center;
}
.about {
    color: black;
    text-align: center;
}
.skills {
    color:black;
    text-align: center;
}
.projects {
    color:black;
    text-align: center;
}
.contact {
    color: black;
    text-align: center;
}
.block-indent {
  text-indent: 40px;
}
.section-title {
    font-size: large;
    font-weight: bold;
}