body {
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:black;
}
.about {
    color: black;
    background-color: rgb(219, 164, 255);
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
}
.skills {
    color:black;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.project {
    background-color: rgb(219, 164, 255);
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
}
.project p {
    text-align: center;
    margin: 15px;
}
.projects h2 {
    width: 100%;
}
.contact {
    color: black;
}
.project img {
    text-align: center;
    border: darkorchid;
    display: block;
    width: 400px;
    text-align: center;
}
.project h3 {
    margin-left: 30px;
}