body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color:black;
}
.about {
    color: black;
    text-align: center;
    background-color: rgb(219, 164, 255);
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.skills {
    color:black;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.project {
    background-color: rgb(219, 164, 255);
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
}
.contact {
    color: black;
    text-align: center;
}