body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color:plum;
    text-align: center;
}
.about {
    color: lightcoral;
    text-align: center;
}
.skills {
    color:lightgreen;
    text-align: center;
}
.projects {
    color:lightseagreen;
    text-align: center;
}
.contact {
    color: chartreuse;
    text-align: center;
}
.block-indent {
  margin-left: 40px; /* Indents the whole element by 40px */
}